* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: none;
}

svg {
  max-width: 100%;
  height: auto;
  display: flex;
}

:root {
  --font-title: "DM Serif Display", serif;
  --font-body: "DM Sans", sans-serif;
  --font-size-title-large: 24px;
  --font-size-title-medium: 20px;
  --font-size-title-small: 18px;
  --font-size-body: 12px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --page-size: "700px";
}

body {
  font-family: var(--font-body);
  background-color: var(--bg-page-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 6.5px;
}

::-webkit-scrollbar-track {
  background-color: #5cc6ba;
}
